@font-face {
  font-family: SourceSansPro-BlackIt;
  src: url("font/SourceSansPro-Black.otf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1200px;
  height: 100vh;
  background: url("img/texture.png") no-repeat center/cover fixed;
  display: flex;
  margin: auto;
}
.banniere,
.container {
  margin: 0.5rem;
}

.banniere {
  width: 150px;
  height: 95vh;
  background: rgb(37, 6, 66);
  border-radius: 10px;
  position: relative;
  img {
    width: 50%;
    box-shadow: none;
    position: absolute;
    left: 50%;
    top: 15%;
    transform: translate(-50%, -50%);
  }
}
.cv {
  position: relative;
  width: 100%;
  margin: 1em;
}

h1,
P {
  text-align: center;
}

h1 {
  color: blueviolet;
  font-family: SourceSansPro-Black, sans-serif;
  font-size: 3em;
  border: 3px blueviolet inset;
  border-radius: 25px;
  margin-bottom: 0.5em;
}

h2 {
  margin-bottom: 1em;
}

.container {
  display: flex;
  position: absolute;
}
section {
  margin: 1em;
}
.lettre {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 0fr);
}

img {
  cursor: pointer;
}
ul {
  list-style: url("/img/bullet_houbi.png");
  margin-left: 1em;
}
