@font-face {
  font-family: SourceSansPro-BlackIt;
  src: url(font/SourceSansPro-Black.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 1200px;
}

body {
  background: url(img/texture.png) no-repeat center/cover;
  display: flex;
  margin: auto;
}
.banniere,
.container {
  margin: 1rem;
}

.banniere {
  width: 150px;
  height: 500px;
  background: rgb(37, 6, 66);
  border-radius: 10px;
  position: relative;
  img {
    width: 50%;
    box-shadow: none;
    position: absolute;
    left: 50%;
    top: 15%;
    transform: translate(-50%, -50%);
  }
}
h1,
P {
  text-align: center;
}

h1 {
  color: blueviolet;
  font-family: SourceSansPro-Black, sans-serif;
  font-size: 3em;
}

h2 {
  margin-bottom: 1em;
}

.container {
  display: flex;
}
section {
  width: 33%;
}

img,
video {
  width: 200px;
  box-shadow: 3px 5px 6px rgb(60, 3, 114);
}
ul {
  text-align: center;
}
.formation {
  border: 3px blueviolet inset;
}
